[FORMAT]
# Based on 1080p nano terminal width
max-line-length=170

[DESIGN]
max-statements=80
max-locals = 30

[MAIN]
max-branches=30

[MESSAGES CONTROL]
# The first 5 messages here disabled as they are acceptable warnings, the 6th is disabled due to the limitations of importing modules from submodules in the github workflow, the 7th is due to aimpot2cube & potfile_gen requiring duplicate code to define common cmd line arguments
disable=too-many-arguments, too-many-positional-arguments, broad-exception-raised, global-variable-undefined, too-many-function-args, import-error, duplicate-code
